body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center; /* Center inline elements */
}

.container {
    max-width: 90vw; /* Set maximum width to 90% of viewport width */
    margin: 50px auto; /* Center horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block; /* Ensure inline block to center properly */
}

h1 {
    color: #007bff;
    font-size: 24px;
}

input[type="number"], button {
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 80%;
    box-sizing: border-box;
    font-size: 18px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
}

#logo {
    max-width: 120px;
    margin-top: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
}

#owner-photo {
    max-width: 120px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid #007bff;
}
